* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", "Helvetica", "Sans-serif";
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    color: #777;
    line-height: 1.7;
}
.info_bar {
    height: 65px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
}
.info_bar_left {
    display: flex;
}
.info_bar_left img {
    width: 35px;
    height: 35px;
    margin-top: 7.5px;
    margin-left: 5px;
    margin-right: 10px;
}
.click {
    font-size: 13.5px;
    color: #9B9D9D;
    margin-right: 4px;
    margin-top: 7.5px;
    height: 50%;
}
.click:hover{
    color: white;
    cursor: pointer;
}
.follow {
    padding: 5px 10px;
    margin-right: 15px;
    background-color: #47CF73;
    color: black;
    border: none;
    border-radius: 3px;
    font-size: 10px;
    cursor: pointer;
    align-self: center;
    margin-top: -20px;
}
.follow:hover{
    color: white;
    background-color: #248C46;
}
.title {
    font-size: 18px;
    color: white;
    height: 75%;
    margin-top: 25px;
    margin-left: -120px;
}
.info_bar_right {
    display: flex;
    gap: 10px;
    margin-left: auto;
    align-items: center;
}
.icon_button {
    background-color: #444857;
    border: none;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 22px;
    border-radius: 5px;
    cursor: pointer;
    padding: 23.5px;
}
.view_code, .sign_up, .log_in {
    background-color: #444857;
    color: white;
    border: none;
    padding: 15px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: .5px;
}
.view_code:hover, .icon_button:hover, .log_in:hover{
    background-color: #5A5F73;
}
.sign_up {
    background-color: #47CF73;
    color: black;
}
.sign_up:hover{
    color: white;
    background-color: #248C46;
}
.log_in {
    background-color: #444857;
}
.nav_bar {
    width: 100%;
    height: auto;
    background-color: #484D53;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4a4e53;
    padding: 15px 30px;
    border-bottom: #5B5F65 solid .5px;
}
.logo {
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-left: 150px;
}
.menu {
    display: flex;
    gap: 20px;
}
.menu_item {
    color: #919292;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
    padding-left: 5px;
    padding-right: 5px;
}
.menu_item:hover {
    color: white;
}
.menu_item.active {
    color: white;
}
.menu a:last-child{
    margin-right: 175px;
}
.gray_section{
    width: 100%;
    height: 630px;
    background-color: #484D53;
    border-top: #5B5F65 solid .5px;
}
.gray_text{
    position: absolute;
    top: 50%;
    margin: -75px auto 0;
    left: 0;
    right: 0;
    z-index: 2;
    color: white;
    width: 500px;
    text-align: center;
}
.gray_text h1{
    font-family: "Playfair Display", serif;
    font-size: 50px;
    line-height: 1.2;
}
.gray_text p{
    margin-top: 10px;
}
.how_it_works{
    margin-bottom: 50px;
    background-color: #F8F9FA;
}
.container{
    text-align: center;
    padding: 20px;
}
.container h2{
    font-family: "Playfair Display", serif;
    color: #F69314;
    font-size: 50px;
    font-weight: 500;
}
.container ion-icon{
    color: #F69314;
    font-size: 35px;
}
.container h4{
    color: black;
    font-weight: lighter;
}
.flex{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    padding-left: 150px;
    padding-right: 150px;
}
.container_prop h2{
    font-family: "Playfair Display", serif;
    color: #F69314;
    font-size: 50px;
    font-weight: 500;
    margin-left: 250px;
}
.properties img{
    width: auto;
    height: 200px;
}
.properties .rounded{
    margin-top: 20px;
    margin-left: 600px;
    background-color: #F69314;
    color: white;
    font-size: 15px;
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 75px;
    padding-right: 75px;
    border-radius: 50px;
    border: none;
}
.properties{
    margin-bottom: 50px;
}
.properties_slider{
    margin: 50px;
}
.slider-controls {
    position: absolute;
    top: 10px; 
    right: 10px; 
    z-index: 10; 
    display: flex;
    align-items: center;
    gap: 5px; 
}
.slick-arrow {
    background-color: rgba(255, 255, 255, 0.7); 
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px; 
    text-decoration: none; 
    color: #000; 
}
.slick-arrow:hover {
    background-color: rgba(255, 255, 255, 1); 
}
.container_agent h2{
    font-family: "Playfair Display", serif;
    color: #F69314;
    font-size: 50px;
    font-weight: 500;
    margin-left: 250px;
}
.container_agent p{
    margin-left: 250px;
    color: #777777;
    font-size: 20px;
    margin-bottom: 40px;
    max-width: 550px;
}
.agents .flex {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    max-width: 1400px;
    margin-left: 50px;
}
.card {
    flex: 0 1 calc(50% - 10px);
    margin-bottom: 20px;
    box-sizing: border-box; 
    background-color: #F0F0F0;
    max-width: 350px;
    max-height: 150px;
}
.card p{
    font-size: 15px;
    margin-left: 10px;
    margin-bottom: 20px;
}
.card h3{
    font-family: "Playfair Display", serif;
    color: black;
    font-weight: 100;
    font-size: 25px;
    margin-left: 10px;
}
.card img{
    height: 50px;
    width: auto;
}
.agents{
   padding-bottom: 75px;
   border-bottom: #919292 solid 0.5px;
}
.flex_container_best {
    display: flex; 
    align-items: center;
    justify-content: space-between; 
    padding: 20px; 
}
.flex_container_best img {
    max-width: 50%; 
    height: auto; 
    margin-right: 100px; 

}
.flex_container_best div {
    flex: 1; 
}
.the_best{
    border-top: #919292 solid 0.5px;
    padding-top: 75px;
    margin-bottom: 100px;
}
.the_best h2{
    font-family: "Playfair Display", serif;
    color: #F69314;
    font-size: 50px;
    font-weight: 500;
    line-height: 50px;
    font-weight: bold;
    max-width: 500px;
}
.the_best .rounded{
    margin-top: 30px;
    background-color: #F69314;
    color: white;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 50px;
    font-size: 15px;
}
.large_paragraph{
    color: #777777;
    font-size: 20px;
    max-width: 400px;
    margin: 20px;
    margin-left: 0;
}
.small_paragraph{
    margin-bottom: 10px;
}
.best_list li{
    margin: 7.5px;
    margin-left: 0;
}
.services {
    margin-top: 100px;
    background-color: #F8F9FA;
    padding-bottom: 100px;
    border-bottom: #919292 solid 0.5px;
}
.services a {
    text-decoration: none;
    color: #F69314;
}
.services a:hover {
    text-decoration: underline;
}
.services .flex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.service-item {
    padding: 20px; 
    text-align: left; 
    max-width: 250px;
    margin-left: 100px;
}
.service-content {
    display: flex;
    align-items: center; /
}
.service-content .icon {
    margin-right: 10px; 
    margin-left: -50px;
}
.service-item h3 {
    margin: 10px 0; 
}
.service-item p {
    margin-bottom: 15px;
}